<h1>Your registered info</h1><br /><br />
<div class="card" style="width: 18rem;">
  <div class="card-header">
    ID <%= current_user.id%>:
    <% unless user_signed_in? && current_user.first_name !="" && current_user.first_name !=nil%>
      Unknown
    <% else %>
      <%= current_user.first_name %>
    <% end %>
    <% unless user_signed_in? && current_user.last_name !="" && current_user.last_name !=nil%>
      UNKNOWN
    <% else %>
      <%= current_user.last_name %>
    <% end %>
  </div>
  <% unless current_user.avatar.attached?%>
    <%= image_tag 'profile-default.png', style: 'height: 300px;'%>
  <% else %>
    <%= image_tag current_user.avatar, alt: 'user_avatar' %>
  <% end %>

  <ul class="list-group list-group-flush">
    <li class="list-group-item"><%= current_user.email%></li>
    <li class="list-group-item">
      <% if current_user.managed_events.length > 0 %>
        admin of
          <span class="badge badge-pill badge-dark"><%= current_user.managed_events.length%></span>
           event(s)
      <% else %>
        You have no event yet. <a href="/events/new">Go create one!</a>
      <% end %>
    </li>
    <%if current_user.description == "" ||current_user.description == nil %>
      <% display = "This user didn't describe himself or herself."%>
    <%else%>
      <% display = current_user.description%>
    <%end%>
    <li class="list-group-item">Description: <%= display%></li>
  </ul>
  <div class="card-header d-flex justify-content-between" >
  <div class="btn col-md-5"> <a href="/users/<%= current_user.id%>/edit">Update profile</a></div>
  <div class="btn col-md-5"> <a href="/users/edit">Update login</a></div>
  </div>

</div>
<h4>See all events you manage</h4>
<%= render partial: 'events/list', locals: {events: current_user.managed_events} %>
