<div style="text-align:center">
<!--multipart: true allows uploading docs-->
<!--in case of error (ActiveSupport::MessageVerifier::InvalidSignature)-->
<!--and that rails console shows only the doc name-->
<!--it's time to suspect we've forgotten this "multipart"...-->
<%= form_tag url_for(action: action), method: method, multipart: true, style:"display:inline-block;" do %>
  <%= label_tag 'Title (Mandatory, 5-14 characters)' %><br />
  <%= text_field_tag 'title', holders[0], class: 'form-control', placeholder: holders[0] %>
  <%= label_tag 'description (Mandatory, 20-1000 characters)' %><br />
  <%= text_area_tag 'description', holders[1], class: 'form-control',  placeholder: holders[1]%>
  <br />
  <h5>Organisational details</h5>
  <%= label_tag 'Location' %><br />
  <%= text_field_tag 'location', holders[2], class: 'form-control'%>
  <%= label_tag 'Start time' %><br />
  <!--haven't figured out how to define min date and prefille DateTime field-->
  <%= datetime_field_tag 'start_time', holders[3], min: DateTime.now, class: 'form-control'%>
  <%= label_tag 'Duration' %><br />
  <!--"step" attribute of a number field is the interval between each choice -->
  <!--"min" is quite intuitive, even if you press the down button, it doesn't go below 0-->
  <%= number_field_tag 'duration', holders[4], step:"5", min:"0", class: 'form-control'%>
  <%= label_tag 'Price' %><br />
  <%= number_field_tag 'price', holders[5],min:"0", class: 'form-control'%>
  <br />
  <div class="form-group">
    <label for="photo">A photo makes your event more attractive!</label>
    <input type='file' name='photo' class='form-control'/>
 </div>

  <br /> <br />
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <%= submit_tag "Submit", class: 'btn btn-primary' %>

<% end %>
