<h5>Welcome to event n°<%= @id%></h5><br /><br />
<div class="card" style="width: 50%;">
  <% user = @event.admin%>
  <!--the word "end" is reserved. Lazy as I am, I used endd instead-->
  <!--to add an integer to a time, need to put the time before the integer-->
  <!--also adding an integer to a DateTime is actually add the number of secs-->
  <div class="card-header">
    <%= @event.title%>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item" style="font-size:x-small;">organized by
      <% if user.first_name && user.first_name != "" && user.first_name != nil%>
      <%= user.first_name%>
      <% else %>
      unnamed user
      <% end %>
      in <%= @event.location%>
    </li>
    <li class="list-group-item"><%= @event.description%></li>
    <li class="list-group-item" style="font-size:x-small;">
      starting <%= @event.start_time%><br /><br />
      ending <%= @event.end_time%><br /><br />
      Price: <%= @event.price%>€
    </li>
    <div class="card-header d-flex justify-content-center" >
    <p class="btn btn-primar col-md-6">   <%= link_to "Join now", new_event_attendance_path(params[:id]) %><br />
</p>
    </div>

  </ul>
</div>
<p><%= @event.participants.length %> people going</p>
<p>Organizer contact: <%= @event.admin.email%></p>
