<h5>Welcome to event n°<%= @id%></h5><br /><br />
<div class="card" style="width: 50%;">
  <% user = @event.admin%>
  <!--the word "end" is reserved. Lazy as I am, I used endd instead-->
  <!--to add an integer to a time, need to put the time before the integer-->
  <!--also adding an integer to a DateTime is actually add the number of secs-->
  <div class="card-header"><%= @event.title%></div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item" style="font-size:x-small;">organized by
      <% if user.first_name && user.first_name != "" && user.first_name != nil%>
        <%= user.first_name%>
      <% else %>
        unnamed user
      <% end %>
      in <%= @event.location%>
    </li>
    <li class="list-group-item"><%= @event.description%></li>
    <li class="list-group-item" style="font-size:x-small;">
      starting <%= @event.start_time%><br /><br />
      ending <%= @event.end_time%><br /><br />
      Price: <%= @event.price%>€
    </li>
    <!--BELOW DECIDES WHO SEES THE JOIN BUTTON-->
    <% if (current_user.id != @event.admin_id) && (@participants.exclude? current_user)%>
      <div class="card-header d-flex justify-content-center" >
        <% if @event.price > 0%>
          <p class="btn btn-primary col-md-6">
            <%= link_to "Join now", new_event_charge_path(@event.id) %><br />
        <% else %>
            <%= link_to "Join now", event_attendances_path(@event.id), method: :post%><br />
          </p>
        <% end %>
    <% elsif @participants.include? current_user %>
      <div class="card-header">You are going to this event</div>
    <% elsif current_user.id == @event.admin_id %>
      <div class="card-header">You are admin of this event</div>
    <% end %>
    <!--ABOVE DECIDES WHO SEES THE JOIN BUTTON-->
  </ul>
</div>
  <p><%= @participants.length %> people going</p>

  <!--BELOW TO VERIFY IF CURRENT USER HAVE RIGHT TO SEE GUEST LIST AND MODIFY/DELETE-->
  <% if current_user.id == @event.admin_id %>
    <!--BELOW TO VERIFY IF THERE ARE PARTICIPANTS AND DISPLAY ACCORDINGLY-->
    <div class="d-flex flex-wrap justify-content-between" style="width:50%;">
    <% unless @participants.present?%>
      <%= link_to "no guest", class:"btn btn-secondary col-5"%>
    <% else %>
      <%= link_to "See guests", event_attendances_path(@event.id) ,class:"btn btn-secondary col-5"%>
    <% end %>
    <!--ABOVE TO VERIFY IF THERE ARE PARTICIPANTS AND DISPLAY ACCORDINGLY-->
    <%= link_to "Update", edit_event_path(@event.id), class:"btn btn-secondary col-5"%>
    </div><br />
    <div class="d-flex flex-wrap justify-content-between" style="width:50%;">
    <%= link_to "Delete event", event_path(@event.id), method: :delete, class:"btn btn-danger col-5"%><br />
    </div>
<!--ABOVE TO VERIFY IF CURRENT USER HAVE RIGHT TO SEE GUEST LIST AND MODIFY/DELETE-->

<% else %>
  <p><br/>Organizer contact: <%= @event.admin.email%></p>
<% end %>
