<h5>Welcome to event n°<%= @id%></h5><br /><br />
<div class="card" style="width: 50%;">
  <% user = @event.admin%>
  <!--the word "end" is reserved. Lazy as I am, I used endd instead-->
  <!--to add an integer to a time, need to put the time before the integer-->
  <!--also adding an integer to a DateTime is actually add the number of secs-->
  <div class="card-header">
    <%= @event.title%>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item" style="font-size:x-small;">organized by
      <% if user.first_name && user.first_name != "" && user.first_name != nil%>
      <%= user.first_name%>
      <% else %>
      unnamed user
      <% end %>
      in <%= @event.location%>
    </li>
    <li class="list-group-item"><%= @event.description%></li>
    <li class="list-group-item" style="font-size:x-small;">
      starting <%= @event.start_time%><br /><br />
      ending <%= @event.end_time%><br /><br />
      Price: <%= @event.price%>€
    </li>
    <!--BELOW DECIDES WHO SEES THE JOIN BUTTON-->
    <% unless (current_user.id == @event.admin_id) || (@participants.include? current_user)%>
    <div class="card-header d-flex justify-content-center" >
      <p class="btn btn-primar col-md-6">
        <% if @event.price > 0%>
          <%= link_to "Join now", new_event_charge_path(@event.id) %><br />
        <% else %>
          <%= link_to "Join now", new_event_attendance_path(@event.id) %><br />
        <% end %>
      </p>
    </div>
    <% end %>
    <!--ABOVE DECIDES WHO SEES THE JOIN BUTTON-->

  </ul>
</div>
<p><%= @participants.length %> people going</p>
<!--BELOW TO VERIFY IF CURRENT USER HAVE RIGHT TO SEE GUEST LIST AND MODIFY/DELETE-->
<% if current_user.id == @event.admin_id %>
  <p>Your are the admin of this event</p>
  <!--BELOW TO VERIFY IF THERE ARE PARTICIPANTS AND DISPLAY ACCORDINGLY-->
  <% if @participants.present?%>
  <%= link_to "See guest list", event_attendances_path(@event.id) ,class:"btn btn-primary col-3"%><br />
  <% else %>
    Your event has no guest T-T
  <% end %>
  </p>
  <!--ABOVE TO VERIFY IF THERE ARE PARTICIPANTS AND DISPLAY ACCORDINGLY-->
  <%= link_to "Update event", edit_event_path(@event.id) ,class:"btn btn-primary col-3"%><br /><br />
  <%= link_to "Delete event", event_path(@event.id), method: :delete, class:"btn btn-primary col-3"%><br />

<!--ABOVE TO VERIFY IF CURRENT USER HAVE RIGHT TO SEE GUEST LIST AND MODIFY/DELETE-->

<% else %>
  <p><br/>Organizer contact: <%= @event.admin.email%></p>
<% end %>
